<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudentManagerIndex</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" src="/webjars/jquery/3.3.1-2/jquery.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container" th:fragment="studentindex">
    <div class="well">
            <span>欢迎您登陆大学生健康饮食平台用户管理员后台系统，在这里你可以修改自己的密码、查看自己的信息，可以对用户的信息
                进行查看、更改、增加，请谨慎修改</span>
        <h2><small><span th:text="${msg}" style="color: red"></span></small></h2>
    </div>
</div>
</body>
</html>